* {
    margin: 0;
    scroll-behavior: smooth;
 
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.side-bar {
    width: 40px;
    height: 90px;
    border-radius: 3px;
    right: 0;
    top: 150px;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.side-bar-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.side-bar-container i {
    font-size: 20px;
    color: gray;
}
.container{
    width: 80%;
}

.content {

}
.content-img{

}

/*-------------------------------------HOME SECTION-------------------------------------------*/



.home {
    background-image: url('/images/home.jpg');
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-size: cover;

}

.dark-layer {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

}
.nav-bar{
    height: 8vh;
    background-color: teal;
    display: flex;   
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav-img {
    width: 12%; 
}

.nav-img img {
    width: 100%;

}
.nav-lists {
    width: 50%; 
   
}


.nav-lists ul {
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-family: 'Alegreya', serif;
}

.nav-lists ul li {
    list-style-type: none;  
}


.nav-lists ul li a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;

}

.nav-lists ul li a:hover {
    color: #8E7754;
    text-decoration: none;


}

.home-content {
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-content h1 {
    font-family: 'Alegreya', serif;
    font-size: 75px;
    font-weight: 400;
    margin: 20px;
}

.home-content p {
    font-size: 23px;
}

.p-content {
    width: 45%;
    line-height: 6vh;
    text-align: center;
}

.home-button {
    width: 20%;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 2vh;

}

.btn {
    margin: 0.5vh;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 17px;
    font-family: 'Alegreya Sans', sans-serif;
    transition-duration: 0.6s;
}

.btn-1 {
    background-color: #8E7754;
    border-style: none;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn-1:hover {
    background-color: transparent;
    border: 2px solid white;
}

.btn-2 {
    background-color: transparent;
    border: 2px solid white;
}

.btn-2:hover {
    background-color: #8E7754;
    border-style: none;
}

.oval-btn {
    margin: 5vh;
    border: 2px solid white;
    width: 30px;
    height: 50px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-oval-btn {
    width: 1vh;
    height: 1vh;
    border-radius: 100%;
    background-color: white;
}
.clear{
    clear: both;
}
/*-------------------------------------ABOUT SECTION-------------------------------------------*/

.about {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
}

.about-img {
    width: 50%;
    margin-right: 25px;
}

.about-img img {
    width: 100%;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    margin-left: 25px;
    padding: 45px 20px 10px 20px;
    color: RGB(104, 104, 104);
    width: 50%;
    font-size: 17px;
}

h2 {
    color: black;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 15px;
}

.about-content p {
    margin-bottom: 10px;
    line-height: 34px;
}

.about-lists ul {
    line-height: 60px;
    list-style: none;
    padding: 0;
}

.about-lists ul li img {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 7%;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid rgb(192, 187, 187);
}

.about-lists ul li i {
    color: #8E7754;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 20px;
    
}


/*-------------------------------------LOCATION SECTION-------------------------------------------*/


.location {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}


.location-container{
    width: 80%;
    height: 85%;
    display: flex; 
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    
}

.location-description {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    
}

.location-img {
    width: 45%;
    
}

.location-img img {
    width: 100%;
}

.location-content {
    color: RGB(104, 104, 104);
    width: 48%;
    font-size: 17px;
}



.location-content p {
    line-height: 30px;
}

/*-------------------------------------BAKING SECTION-------------------------------------------*/

.baking {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.baking-container {
    width: 80%;
   background-color: tomato;
   
}

.baking-title {
    text-align: center;
    background-color: lightpink
}

.baking-title h2 {
    margin-top: 70px;
    margin-bottom: 20px;
}

.baking-title p {
    color: RGB(104, 104, 104);
    margin-bottom: 70px;
}
.baking-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item {
    
    text-align: center;
    width: calc(100% / 3);
   
}

.item img {
    width: 85%;

}

.item h3 {
    margin: 15px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
}

.item p {
    line-height: 30px;
    font-size: 15px;
    color: RGB(104, 104, 104);
    
}



/*Start Contact Section*/


.contact {
    background-color: #F8F8F8;
}

.contact .container {
    width: 80%;
    margin: auto;
    padding: 50px;
}

.contact-content {
    margin-top: 60px;
    width: 50%;
    float: left;
    line-height: 32px;
    font-size: 17px;
    color: RGB(104, 104, 104);
}

.contact-content h2 {
    margin-bottom: 35px;
}

.contact-map {
    margin-top: 40px;
    width: 45%;
    float: right;
}

.contact-content-list ul {
    margin-top: 20px;
    list-style: none;
}

.contact-content-list ul li {
    line-height: 60px;
}

.contact-content-list ul li img {
    vertical-align: middle;
    width: 5%;
    border: #8E7754 solid 1px;
    border-radius: 100%;
    background-color: #8E7754;
    margin-right: 10px;

}

/*Details Section*/

.details {
    background-color: #403D38;
}

.details .container {
    padding: 30px;
    width: 85%;
    margin: auto;
}

.details .container .cap {
    color: white;
    width: 25%;
    float: left;
}

.cap h4 {
    margin-bottom: 10px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    color: white;
}

.cap p {
    color: gray;
    line-height: 25px;
    font-size: smaller;
}

.cap ul {
    list-style: none;
}

.cap ul li {
    line-height: 35px;
    color: gray;
}

.cap ul li img {
    width: 6%;
}


.cap .world-img {
    background-color: rgba(0, 0, 0, 0.1z);
}

.cap-contact ul li img {
    width: 12%;
    margin-right: 5px;
    vertical-align: middle;
}

.height-tight {
    line-height: 20px;
}

hr {
    border: gray solid 1px;
}


/*footer section*/

.footer {
    color: gray;
    padding: 50px;
    text-align: center;
    margin: auto;
    background-color: #353330;
}

.footer img {
    width: 25%;
    margin-bottom: 20px;
}

.social-footer i {
    margin: 13px;
    font-size: 20px;
    color: white;
    transition-duration: 0.6s;

}

.footer p {
    margin-bottom: 20px;
}

input {
    width: 3%;
    background-color: #403D38;
    border-radius: 100%;
    border-style: none;
    margin: 5px;
}